<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @malice.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @malice.activity %>
</p>

<%= link_to 'Edit', edit_malice_path(@malice) %> |
<%= link_to 'Back', malices_path %>
