<p id="notice"><%= notice %></p>

<h1>Funs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funs.each do |fun| %>
      <tr>
        <td><%= fun.name %></td>
        <td><%= fun.activity %></td>
        <td><%= link_to 'Show', fun %></td>
        <td><%= link_to 'Edit', edit_fun_path(fun) %></td>
        <td><%= link_to 'Destroy', fun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fun', new_fun_path %>
