<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fun.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @fun.activity %>
</p>

<%= link_to 'Edit', edit_fun_path(@fun) %> |
<%= link_to 'Back', funs_path %>
